.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: white;
  position: fixed; /* 位置を固定 */
  width: 100%;
  z-index: 10;
  height: 90px;
  opacity: 0.9; /* 透明度を設定 */
  border-bottom: 6px solid rgb(211, 75, 75);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo img {
  height: 65px;
  width: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 35px;
  margin-top: 10px;
}

.linkContainer li {
  margin-left: 35px;
  margin-top: 10px;
}

.linkContainer li a {
  color: white;
  font-size: 20px;
  transition: all 0.4s;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

.linkContainer li a:hover {
  color: rgb(190, 65, 65);
}
