.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 40, 40);
  color: white;
  position: fixed; /* 位置を固定 */
  width: 100%;
  z-index: 10;
  height: 80px;
  opacity: 0.95; /* 透明度を設定 */
  border-bottom: 6px solid rgb(211, 75, 75);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.logo img {
  height: 65px;
  width: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right:30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  transition: all 0.4s;
}

nav ul li a:hover {
  color: rgb(190, 65, 65);
}

.linkText {
  margin-left: 8px;
}

.icon {
  display: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s;
}

@media (max-width: 600px) {
  .linkText {
    display: none;
  }

  .icon {
    display: inline;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgb(40, 40, 40);
    margin-bottom: 20px;
    font-family: ;
  }

  nav ul li a:hover {
    color: rgb(190, 65, 65); /* ホバー効果を適用 */
  }

  nav ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    margin-right: 20px;
  }
}
