
.APP {
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

.container {
  padding:0; /* 余白を取り除く */
  margin: 0; /* 余白を取り除く */
  position: relative; /* 相対位置に設定 */
}

.page_top_image {
  width: 100%; /* 横幅を100%に設定 */
  height: 100%; /* 高さを画面の高さに設定 */
  position: relative; /* 相対位置に設定 */
}


.page_top_image {
  width: 100%; /* 横幅を100%に設定 */
  min-height: 300px; /* 最低限表示させる高さを設定 */
  height: auto; /* 高さを画面の高さに設定 */
  display: block;
  margin: 0; /* 余白を取り除く */
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  background-size: cover; /* 画像をカバーする */
  background-position: center; /* 画像を中央に配置 */
  background-repeat: no-repeat; /* 画像を繰り返さない */
}

img {
  width: 300px;
  height: 500px;
}

.section-subheading {
  font-size: 30px;
  margin-top: 40px;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 50px; /* フォントサイズを指定 */
}

.page_title {
  text-align: center;
  padding: 30px 5%;
  font-family: "Noto Serif JP", serif;
  width: auto;
  letter-spacing: 10px;
}

.page_content {
  text-align: center;
  padding: 30px 5%;
  font-family: "Noto Serif JP", serif;
  width: auto;
  letter-spacing: 5px;
}

.blue-text {
  color: rgb(20, 20, 110); /* テキストを赤色に設定 */
}

/* 共通のスタイル */
h1, h2, h3, h4 {
  text-align: center; /* テキストを中央揃え */
  display: inline-block; /* テキストが縦に並ばないようにする */
  margin: 0; /* マージンをリセット */
}

h1 {
  font-size: 2rem; /* デフォルトのフォントサイズ */
}

h2 {
  font-size: 1.5rem; /* デフォルトのフォントサイズ */
}

h3 {
  font-size: 1.2rem; /* デフォルトのフォントサイズ */
}

h4{
  font-size: 1.1rem; /* デフォルトのフォントサイズ */
}

/* レスポンシブデザインのためのメディアクエリ */
@media (min-width: 600px) {
  h1 {
    font-size: 3rem; /* 600px以上の画面幅の場合のフォントサイズ */
  }

  h2 {
    font-size: 2.5rem; /* 600px以上の画面幅の場合のフォントサイズ */
  }

  h3 {
    font-size: 2rem; /* 600px以上の画面幅の場合のフォントサイズ */
  }

  h4 {
    font-size: 1.2rem; /* 600px以上の画面幅の場合のフォントサイズ */
  }
}
